/* Over scroll */
body {
  overscroll-behavior: none;
}

/* Hero background image */
.bgimage {
  height: 100vh;
  background: url('images/backgroundImage.jpeg');
  background-size: cover;
  position: relative;
}

/* Text css above hero iamge */
.hero_title {
  font-size: 4.5rem;
  backdrop-filter: blur(2px);
}

.hero_desc {
  font-size: 2rem;
  backdrop-filter: blur(2px);
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.navbar-brand {
  color: white;
}

/* About section image css */
.imageAboutPage {
  width: 100%;
}

/* Display background color black on navbar scroll */
.navbarScroll.navbarDark {
  background-color: #808080;
}

.navbar-toggler-icon {
  background-image: url(images/pngwing.com.png);
}

a.nav-link {
  color: white;
}

/* Social media icons styling */
.social-icons {
  font-size: 36px;
  cursor: pointer;
}

.fa-linkedin:hover,
.fa-github:hover {
  color: #008000;
}

.fab {
  color: #000000;
}

/* footer styling */
#footer {
  background-color: #808080;
  text-align: center;
}

/* Spacing all sections */
#about,
#services,
#portfolio,
#contact {
  margin-top: 1rem;
  padding-top: 1rem;
}
#contact {
  padding-bottom: 2rem;
}

/* Horizontal rule */
.contact-info {
  display: flex;
  justify-content: center;
}
